{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "prettier.printWidth": 120,
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
